


.btn {
    padding: 0.4rem 1rem;
    margin: 0 5px 0 5px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 250;
    background-color: #E75B5E;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 250px;
    text-decoration: none;
    font-family: 'open sans';
    color: white;
}


.btn:hover{
    background-color: #F49A67;
    text-decoration: none;
    font-family: 'open sans';
    color: white;
}




/*BTN ABOUT */

.btnABOUT{

    padding:10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 550;
    background-color: #E75B5E;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 200px;
    text-decoration: none;
    font-family: 'Open sans';
    color: white;
    margin-right:15px;

}


.btnABOUT:hover{
    background-color: #F49A67;
    text-decoration: none;
    font-family: 'open sans';
    color: white;
}


/* BTN CONTACT */


.btnCONTACT{

    padding:10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 550;
    background-color: #E75B5E;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 200px;
    text-decoration: none;
    font-family: 'Open sans';
    color: white;
    margin-right:15px;

}


.btnCONTACT:hover{
    background-color: #F49A67;
    text-decoration: none;
    font-family: 'open sans';
    color: white;
}




.grid__column-bp1-12ABOUT{

    text-align: center;
}

/* BTN USER */

.btnUSER{
    padding:10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 550;
    background-color: #E75B5E;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 200px;
    text-decoration: none;
    font-family: 'Open sans';
    color: white;
    margin-left:10px;


}


.btnUSER:hover{
    background-color: #F49A67;
    text-decoration: none;
    font-family: 'open sans';
    color: white;
}



.grid__column-bp1-12{

    text-align: center;
}


/* BUTTONS HOME */
.btns {
    text-align: center;
    margin-top: 200px;
}


/* BUTTONS DETAIL */

.btn-details ul {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-details ul li {
    margin: 0;
    padding: 0;

}

.btn-details ul li a  {
    height: 200px;
    width: 50%;
    background: white;
    list-style:none;
    float: left;
    border: 1px solid #ececec;
    display: block;
    text-decoration: none;
}

.btn-details ul li a:hover {
   background-color: #E75B5E;
    text-color: white;
}

.btn-details ul li a:active {
    background-color: #E75B5E;
    color: white;
}


.btn-details h4 {
    text-align: center;
    text-decoration: none;
    font-family: 'open sans';
    color: black;
    font-size: 16px;
}










/* MEDIA QUERIES */
@media (min-width: 20rem) {
    .btns {
        margin-top: 100btn-sectionpx;

    }
}

@media (min-width: 42.5rem) {
  .btns {
      margin-top: 200px;
  }

    .fa-chevron-right {
        margin-right: 40px;
    }
}


@media (min-width: 20rem) {
    .btn1 {
        margin-top: 100btn-sectionpx;

    }
}

@media (min-width: 42.5rem) {
    .btn1 {

    }

    .fa-chevron-right {
        margin-right: 40px;
    }
}



#newUsername {
    padding: 0.5rem 1rem;
    margin: 0 5px 0 5px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 250px;
    border-radius:3px;
    text-decoration: none;
    border: 1px solid lightgrey;


    font-family: 'open sans';
    color: #E75B5E;
}


#newUsername:hover{

    background-color: #FAFAFA;
}

#newUsername::selection {
    background-color: #E75B5E;
    text-decoration: none;
    font-family: 'open sans';
    color: white;
}


@media (min-width: 20rem) {
    #newUsername {


    }
}



@media (min-width: 20rem) {
    .USERNAME {


        visibility: visible;
    }
}

@media (min-width: 42.5rem) {
    .USERNAME {
        visibility: visible;
    }


}


/* BTN CONTACT */


@media (min-width: 20rem) {
    .btnCONTACT {

        margin-left:75px;


    }
}

@media (min-width: 42.5rem) {
    .btnCONTACT {
    margin-left:0px;
    }


}