/* Header-wrapper-home
*/
.header-wrapper-home {
    height: 100%;
    position: relative;
    top: 0;
    left: 0s;
    z-index: 998;
    background: url(https://t1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/Tl6/image/M5zFkvwz8ng3qQVRrXNx-hSpYds.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    

}






/* MEDIA */

@media (min-width: 20rem) {
    .header-wrapper-home {
        height: 900px;

    }

    .country__tile .country__title {
        min-height: 112px;
    }

    .logo_home {
        margin-top: 11rem;
        height:100%;
        width:100%;

    }

}


@media (max-width: 30rem) {
    .logo_home img {
        width: 100px;
        height: auto;
    }

    .logo_home {
        height: auto;
        margin-top: 11rem;
        width: 100%;
        text-align: center;

    }
}


@media (min-width: 30rem) {

    .header-wrapper-home {
        height: 900px;
    }


}

@media (min-width: 42.5rem) {

    .header-wrapper-home {
        height: 900px;

    }


    .logo_home {
        height: auto;
        margin-top: 10rem;
        width: 100%;
        text-align: center;

    }
}