

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open sans', sans-serif;


}

/* Body */
body {
    background: white;
    font-family: 'open sans', sans-serif;
    /* background: #3B4361; */
}

h3 {
    font-family: 'Open sans', sans-serif;
}

p{

    text-align: justify;
}
/*
* Header-wrapper
*/
.header-wrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    overflow:auto;
    background: #E75B5E;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);

}

.header-wrapper h3 {
    font-size: 20px;
    font-family: 'Open sans', sans-serif;
    display: block;
    margin: 0 auto;
    padding-top: 17px;
    text-align: center;
}


.header {
    position: relative;
}
.header-wrapper > div > div > div {
    margin-bottom: 0;
}
.header::before, #header::after {
    content: "\f0c9";
    display: block;
    height: 0;
    overflow: hidden;
}
.header::after {
    clear: both;
}
.header__navigation-toggle {
    float:left;
    margin-top: 1.5rem;
    text-decoration: none;
 /* */
    color: white;
    padding-bottom: 20px;
}
.header__navigation-toggle::before {
    display: block;
    content: '\f0c9';
    font-family: FontAwesome;
    font-size: 2rem;

}
.offcanvas-open .header__navigation-toggle::before,
.headernav-open .header__navigation-toggle::before {
    transform: rotate(90deg);
    transition: all 320ms ease-out 0s;
}
.header__navigation-toggle > span {
    display: none;
}
.header__navigation {
    float: right;
    clear: right;
    width: 100%;
    display: none;
}
.headernav-open #header__navigation {
    display: block;
}

.header__navigation > ul {
    list-style: none;

    margin: 0;
    padding: 0;

}
.header__navigation > ul > li {
    float: left;
    width: 100%;

}
.header__navigation .navigation__item {
    display: block;
    height: 32px;
    line-height: 32px;
    padding-left: 1rem;
    padding-right: 1rem;

    font-family: 'Open sans', sans-serif;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    color:  white;
}
nav.header__navigation ul li a {
    position: relative;
}
nav.header__navigation ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: black;
    background: #F49A67;
    height: 6px;
}
nav.header__navigation ul li a:hover:after {
    width: 100%;
}


.header__navigation.navigation__item:hover{
    color:red;
}


.nav-locs li {

    display:inline;
    margin:5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #E75B5E;
}

.nav-locs li:hover {
    opacity: 0.4;
    border-bottom: 2px #E75B5E solid;
}

.locs{
    text-align: center;
}

.nav-dates li {
    display:inline;
    margin:5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #E75B5E;
}

.nav-dates li:hover {
    opacity: 0.4;
    border-bottom: 2px #E75B5E solid;
}

.dates{
    text-align: center;
}

.nav-cats li {
    display:inline;
    margin:5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #E75B5E;
}

.nav-cats li:hover {
    opacity: 0.4;
    border-bottom: 2px #E75B5E solid;
}

.cats{
    text-align: center;
    margin-left:-5px;
}

.btnParking {
    margin-top:50px;
    background-color: #E75B5E;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 200px;
    text-decoration: none;
    font-family: 'Open sans';
    color: white;
    text-transform: uppercase;
}

.parkinglocaties a:hover{
    background: #F49A67;
    color:white;

}

.parkinglocaties  {
    text-align:center;
}







/*
Images Locations
*/
.pic img {
    height: 300px;
    width: 325px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin-bottom:100px;
    margin-left:40px;

}

.pic {
    position:relative;
    float: left;
    margin-left: 230px;
    margin-top: 60px;
}

/*
* Countries pagina
*/



.countries-list>ul {
    padding: 0;
    margin: 0;
}



/*
* Listitem for country
*/


.title_categories{
    padding-left: 1.5rem;
    color:#E75B5E;
}
.country__listitem {

    top:65px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 1px;
    box-shadow: 0 9px 9px 0 rgba(0,0,0,.14),0 9px 0px -1px rgba(0,0,0,.2),0 1px 16px 0 rgba(0,0,0,.12);
    background: #E75B5E;
    color:white;
    padding-left:15px;

}

.country__listitem:hover {
    color: white;
    background: #F49A67;
}




.country__listitem .country__title {

    padding-left: 1rem;
    min-height: 36px;
    float: left;


}
.country__listitem .country__title > h3 {
    padding: 0;
    margin: 0;

}

.countries__title {
    word-spacing: 2px;
}


/* STYLING COUNTRIES LIST */
.countries-list ul li a {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: white;
    color: black;
}

.countries-list ul li a:hover{
    color: white;
}

.countries-list ul li a:hover .btn-arrow span{
    color:white;
}







/* ICON IN DE ZOEKBAR */
#txtSearch {
    background: url(../../images/icons/zoekbar.png) no-repeat 10px 10px;
    padding-left: 55px;
    height: 60px;
    width: 100%;
    background-color: white;
    border: 1px solid #c0c0c0;
    border-radius: 1px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
}


#user1{

    padding-right: 0.8rem;
    margin-top:-53px;
    color: #E75B5E;
    float:right;

}


/* FOOTER */



.footerCONT{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    top:1200px;
    background: #E75B5E;
    margin-top:80px;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
}

.footerCONT p {
    color: white;
    text-align: center;
    padding-top:3px;
    font-size: 14px;

}

.footerCONT a {
    color: #FAFAFA;
}


.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    top:1200px;
    background: #E75B5E;
    margin-top:-490px;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
}

.footer p {
    color: white;
    text-align: center;
    padding-top:3px;
    font-size: 14px;

}

.footer a {
    color: #FAFAFA;
}

.footerPRO{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    top:1200px;
    background: #E75B5E;
    margin-top:-200px;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
}

.footerPRO p {
    color: white;
    text-align: center;
    padding-top:3px;
    font-size: 14px;

}

.footerPRO a {
    color: #FAFAFA;
}






/* Image header*/
.img-header img {
    width: 100%;
    background-size: cover;
}

.IMG404 img {
    height: 200px;
}

.page404 h1 {
    color: #E75B5E;
    font-size: 40px;
    word-spacing: 10px;
    font-family: 'Open sans';
}


/* google maps */
#map-container {
    display: block;
}

#googleMap {
    height: 300px;
    width: 100%;
}








/* QUIZ */

#titlequiz {
   margin-left:20px;
}

#quiz {
    margin-left:20px;
    display:none;
}

.buttonquiz {
    border:4px solid;
    border-radius:5px;
    width: 60px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    color: #E75B5E;
    margin: 0 2px 0 2px;
}



.buttonquiz {
    font-size:24px;
    position: relative;
    float:right;
}

.buttonquiz a {
    text-decoration: none;
    color:white;
}

#containerquiz {
   margin-top:100px;
    width:100%;
    padding: 0 25px 40px 10px;
    background-color: #E75B5E;
    border:4px solid #E75B5E;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: normal;
    box-shadow: 4px 4px 4px #888;
}

ul {
    list-style-type: none;
    padding: 5px;
    margin: 3px;
}

#prev {
    display:none;
    margin-right:50px;
}

#start {
    display:none;
    width: 250px;
    margin-left:20px;

}



ul>li{

    color:white;
}

#question > h2{
    margin-left:-3px;

}

/* CONTACT */


.titel-container{
    color:#E75B5E;
    font-size:25px;
    font-family:"open sans";
}



.contactusform{
    font-size:16px;
    text-align: center;
}


#txtName1{
     border-radius:3px;
     text-decoration: none;
     border: 1px solid lightgrey;
     width:520px;
 }

#txtName1:hover{
    border-radius:3px;
    text-decoration: none;
    border: 1px solid lightgrey;
    width:520px;
    background-color: #FAFAFA;
}





#txtEmail{
    border-radius:3px;
    text-decoration: none;
    border: 1px solid lightgrey;
    width:520px;
}



#txtEmail:hover{
    border-radius:3px;
    text-decoration: none;
    border: 1px solid lightgrey;
    width:520px;
    background-color: #FAFAFA;
}


#txtEmail2{
     border-radius:3px;
     text-decoration: none;
     border: 1px solid lightgrey;
     width:520px;
 }


#txtEmail2:hover{
    border-radius:3px;
    text-decoration: none;
    border: 1px solid lightgrey;
    width:520px;
    background-color: #FAFAFA;
}

#txtvraag{
    border-radius:3px;
    text-decoration: none;
    border: 1px solid lightgrey;
    width:320px;

}

#txtvraag:hover{
    border-radius:3px;
    text-decoration: none;
    border: 1px solid lightgrey;
    background-color: #FAFAFA;
}

form {
    width: 80%;
    margin: 0 auto;
}

label, input {
    /* in order to define widths */
    display: inline-block;
    padding-bottom:3px;
}

label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: left;
    font-weight:bold;
}

label + input {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */

}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input + input {
    float: right;
}




/*
--> MEDIAQUERIES
*/


@media (min-width: 20rem) {

    .country__listitem  > h3 {

        visibility: visible;
    }
}


@media (min-width: 42.5rem) {

    .country__listitem  > h3 {

        visibility: visible;
    }
}


@media (min-width: 20rem) {

    .footerPRO {

       margin-top:-255px;
    }
}


@media (min-width: 42.5rem) {

    .footerPRO {

        margin-top:-200px;
    }
}



@media (min-width: 20rem) {

    #txtName1 {

        width:320px;
    }
}


@media (min-width: 42.5rem) {

    #txtName1 {

        width:520px;
    }
}



@media (min-width: 20rem) {

    #txtEmail {

        width:320px;
    }
}


@media (min-width: 42.5rem) {

    #txtEmail {

        width:520px;
    }
}

@media (min-width: 20rem) {

    #txtEmail2 {

        width:320px;
    }
}


@media (min-width: 42.5rem) {

    #txtEmail2 {

        width:520px;
    }
}



@media (min-width: 20rem){
    .IMG404 img {
        height: 200px;
        text-align: center;
        margin: 30px auto;
        display: block;
    }

    .page404 h1 {
        color: #E75B5E;
        font-size: 20px;
        word-spacing: 7px;
        font-family: 'Open sans', sans-serif;
        text-align: center;
    }

    .page404 p {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        margin-right: 10px;
        font-size: 18px;
    }
}

@media (min-width: 30rem) {
    .header__navigation {
        width: 100%;
    }
    .header__navigation > ul > li {
        width: 50%;
    }
    .header__navigation > ul > li:last-of-type {
        width: 100%;
    }
    .header__navigation .navigation__item {
        height: 64px;
        line-height: 64px;

        text-align: center;
    }

    .IMG404 img {
        height: 450px;
        float: left;
        clear: right;
        margin-right: 60px;
    }

    .page404 h1 {
        color: #E75B5E;
        font-size: 30px;
        word-spacing: 7px;
        font-family: 'Open sans', sans-serif;
        text-align: center;
    }

    .page404 p {
        text-align: center;
        font-family: 'roboto', sans-serif;
        margin-right: 10px;
        font-size: 18px;
    }

}


@media (min-width: 42.5rem) {
    .offcanvas {
        display: none;
    }
    .header__navigation-toggle {
        display: none;
    }
    .header__navigation {
        width: auto;
        display: block;
    }
    .header__navigation > ul > li {
        width: auto;
    }
    .header__navigation > ul > li:last-of-type {
        width: auto;
    }
    .header__navigation .navigation__item {
        height: 128px;
        line-height: 128px;

        text-align: left;
    }

    .countries__title h2 {
        font-size: 25px;
        margin-left: 50px;
    }









