/*
* Offcanvas
*/
.offcanvas {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    left: -100%;
    background: rgba(238,238,238 ,1);
    transition: all 280ms ease-out 0s;

}

.offcanvas-open .offcanvas {
    left: 0;
    transition: all 280ms ease-out 0s;
}
.offcanvas__header {
    position:relative;
    height: 120px;
    width: 100%;
    background: url(https://t1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/Tl6/image/M5zFkvwz8ng3qQVRrXNx-hSpYds.jpg) no-repeat bottom center;
    background-size: cover;
}
.offcanvas__header > h1 {
    position: absolute;
    margin: 0;
    bottom: 1rem;
    left: 1rem;
    font-size: 2rem;
    color: rgba(245,245,245 ,1);
    font-family: "Open sans";
}
.offcanvas__navigation-toggle {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    text-decoration: none;
    color: white;
}

.offcanvas__navigation-toggle > span {
    display: none;
}
.offcanvas__navigation-toggle::before {
    display: block;
    content: '\f00d';
    font-family: FontAwesome;
    font-size: 2rem;
    transform: rotate(0deg);
    transition: all 100ms ease-out 0s;
}
.offcanvas-open .offcanvas__navigation-toggle::before {
    transform: rotate(360deg);
    transition: all 160ms ease-out 0s;
}
.offcanvas__navigation > ul {
    style: none;

    margin: 0;
    padding: 0;
}
.offcanvas__navigation > ul > li {
    width: 100%;
}
.offcanvas__navigation .navigation__item {
    display: block;
    height: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    background:  #E75B5E;
    border-bottom: 1px solid rgba(245,245,245 ,1);
    text-decoration: none;
    color: rgba(245,245,245 ,1);
    font-family: 'Open Sans' ;
    font-size:19px;
}

.offcanvas__navigation .navigation__item:hover {
    display: block;
    height: 100%px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    background:  #F49A67;
    border-bottom: 1px solid rgba(245,245,245 ,1);
    text-decoration: none;
    color: rgba(245,245,245 ,1);
    font-family: 'Open Sans' ;
}

.offcanvas__navigation .navigation__item .fa {
    font-size: 26px;
    padding-right:10px;
    padding-top:10px;
    padding-left:10px;
    text-align: center;
    color: white;
}
.offcanvas__navigation > ul > li:last-of-type .navigation__item {
    border-bottom: none;
}



