/* PROFIEL PAGINA */






.myprofile{

    color:#E75B5E;
}


.profile-list ul {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile-list ul:hover {
    padding: 0;
    margin: 0;
}



.profile__title {

    font-family: 'Open sans';
    text-decoration: none;
}

.profile__title h3{
    margin-left: 4rem;
}
/* LISTITEM1 */

.profile__listitem {
    height: 200px;
    position:relative;
    width: 50%;
    background: #F4A980;
    list-style:none;
    float: left;
    display: block;
    text-decoration: none;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
 }




.profile__listitem .profile__title {
    min-height: 36px;
    float: left;

}

.profile__listitem .profile__title > h3 {
    padding: 0;
    margin-left: 0;
}

/*
* Listitem 2
*/


.profile__listitem2 {
    float:right;
    position: relative;
    z-index: 1;
    box-sizing: content-box;
    height: 200px;
    width:50%;
    background:#F49A67;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);

}




.profile__listitem2 .profile__title {
    min-height: 36px;
    float: right;

}

.profile__listitem2 .profile__title > h3 {
    padding: 0;
    margin-left: 0;
}


/*
* Listitem 3
*/


.profile__listitem3 {
    float:left;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-sizing: content-box;
    height: 200px;
    width:50%;
    background:#E75B5E ;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);

}




.profile__listitem3 .profile__title {
    min-height: 36px;
    float: left;

}

.profile__listitem3 .profile__title > h3 {
    padding: 0;
    margin-left: 0;
}


/*
* Listitem 4
*/


.profile__listitem4 {
    float:right;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-sizing: content-box;
    height: 200px;
    width:50%;
    background:#A85173 ;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);

}




.profile__listitem4 .profile__title {
    min-height: 36px;
    float: right;

}

.profile__listitem4 .profile__title > h3 {
    padding: 0;
    margin-left: 0;
}


/*
* Listitem 5
*/


.profile__listitem5 {
    float:left;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-sizing: content-box;
    height: 200px;
    width:50%;
    background:#90475F;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);

}




.profile__listitem5 .profile__title {
    min-height: 36px;
    float: left;

}

.profile__listitem5 .profile__title > h3 {
    padding: 0;
    margin-left: 0;
}


/*
* Listitem 6
*/


.profile__listitem6 {
    float:left;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-sizing: content-box;
    height: 200px;
    width:50%;
    background:#5E4561;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);

}


/*
* Listitem 7
*/

.profile__listitem7 {
    float:left;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-sizing: content-box;
    height: 200px;
    width:50%;
    background:#385682;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);

}

/*
* Listitem 8
*/

.profile__listitem8{
    float:left;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-sizing: content-box;
    height: 200px;
    width:50%;
    background:#3B4361;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);

}


.profile__listitem6 .profile__title {
    min-height: 36px;
    float: left;

}

.profile__listitem6 .profile__title > h3 {
    padding: 0;
    margin-left: 0;
}


/* PROFILE TITLE */

.profile__title {
    word-spacing: 2px;
    color: white;
    left: 20px;
}

.profile__title > h3 {
    word-spacing: 2px;
    color: white;
    margin-left: 30px;
}

.profile__title:hover {
    word-spacing: 2px;
    color: white;
    background-color: #9A1736;
}


.profile-list ul li a {
    height: 200px;
    width: 100%;
    background: white;
    list-style:none;
    float: left;
    border: 1px solid #ececec;
    display: block;
    text-decoration: none;
}


.profile-list a ul li h3 {
    margin-left: 5rem;
    margin-bottom: 3rem;
    text-decoration: none;
}

/* ICONS */

.IconPROFILE:before {
    font-family: FontAwesome;
    content: '\f007';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: white;
    padding-right: 0.5em;
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    padding-top: 0.3rem;
    text-align: center;

}


.IconNEWS:before {
    font-family: FontAwesome;
    content: '\f1ea';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: white;
    padding-right: 0.5em;
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    padding-top: 0.3rem;

}

.IconFAV:before {
    font-family: FontAwesome;
    content: '\f004';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: white;
    padding-right: 0.5em;
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    padding-top: 0.3rem;
}




.IconFB:before {
    font-family: FontAwesome;
    content: '\f09a';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: white;
    padding-right: 0.5em;
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    padding-top: 0.3rem;

}


.IconABOUT:before {
    font-family: FontAwesome;
    content: '\f129';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: white;
    padding-right: 0.5em;
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    padding-top: 0.3rem;
}

.IconINSTA:before {
    font-family: FontAwesome;
    content: '\f16d';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: white;
    padding-right: 0.5em;
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    padding-top: 0.3rem;
}

.goBackIcon:before {
    font-family: FontAwesome;
    content: '\f0d9';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: white;
    padding-right: 0.5em;
    margin-top: 100px;
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    padding-top: 0.3rem;
}


.IconTW:before {
    font-family: FontAwesome;
    content: '\f099';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: white;
    padding-right: 0.5em;
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    padding-top: 0.3rem;
}

.IconQUIZ:before {
    font-family: FontAwesome;
    content: '\f0eb ';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: white;
    padding-right: 0.5em;
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    padding-top: 0.3rem;
}


.IconPROFILE {
    font-size: 20px;
    top: 20px;

}

.IconNEWS {
    font-size: 20px;
    top: 20px;
}

.IconFAV {
    font-size: 20px;
    top: 20px;
}
.IconFB {
    font-size: 20px;
    top: 20px;
}

.IconTW {
    font-size: 20px;
    top: 20px;
}

.IconQUIZ {
    font-size: 20px;
    top: 20px;
}


.IconABOUT {
    font-size: 20px;
    top: 20px;
}
.IconINSTA {
    font-size: 20px;
    top: 20px;
}

.goBackIcon {
    font-size: 20px;
    top: 20px;

}

#user {
    font-family: 'Open sans';

}

/* MEDIA QUERIES */
@media (min-width: 20rem) {
    .IconPROFILE {
        font-size:90px;
        text-align: center;
    }
    h3{
        visibility: hidden;
    }
}

@media (min-width: 42.5rem) {

        .IconPROFILE {
            font-size:30px;
         text-align: none;

        }
     h3{
         visibility: visible;
    }
}

/* ABOUT */

@media (min-width: 20rem) {
    .IconABOUT {
        font-size:90px;
        text-align: center;
    }
    h3{
        visibility: hidden;
    }
}

@media (min-width: 42.5rem) {

    .IconABOUT {
        font-size:30px;
        text-align: none;

    }
    h3{
        visibility: visible;
    }
}

/* FAV */

@media (min-width: 20rem) {
    .IconFAV {
        font-size:90px;
        text-align: center;
    }
    h3{
        visibility: hidden;
    }
}

@media (min-width: 42.5rem) {

    .IconFAV {
        font-size:30px;
        text-align: none;

    }
    h3{
        visibility: visible;
    }
}

/* NEWS */

@media (min-width: 20rem) {
    .IconNEWS {
        font-size:90px;
        text-align: center;
    }
    h3{
        visibility: hidden;
    }
}

@media (min-width: 42.5rem) {

    .IconNEWS {
        font-size:30px;
        text-align: none;

    }
    h3{
        visibility: visible;
    }
}


/* FACEBOOK */

@media (min-width: 20rem) {
    .IconFB {
        font-size:90px;
        text-align: center;
    }
    h3{
        visibility: hidden;
    }
}

@media (min-width: 42.5rem) {

    .IconFB {
        font-size:30px;
        text-align: none;

    }
    h3{
        visibility: visible;
    }
}

/* INSTA */

@media (min-width: 20rem) {
    .IconINSTA {
        font-size:90px;
        text-align: center;
    }
    h3{
        visibility: hidden;
    }
}

@media (min-width: 42.5rem) {

    .IconINSTA {
        font-size:30px;
        text-align: none;

    }
    h3{
        visibility: visible;
    }
}

/* TWITTER */

@media (min-width: 20rem) {
    .IconTW {
        font-size:90px;
        text-align: center;
    }
    h3{
        visibility: hidden;
    }
}

@media (min-width: 42.5rem) {

    .IconTW {
        font-size:30px;
        text-align: none;

    }
    h3{
        visibility: visible;
    }
}


/* QUIZ */

@media (min-width: 20rem) {
    .IconQUIZ {
        font-size:90px;
        text-align: center;
    }
    h3{
        visibility: hidden;
    }
}

@media (min-width: 42.5rem) {

    .IconQUIZ {
        font-size:30px;
        text-align: none;

    }
    h3{
        visibility: visible;
    }
}
